html {
    font-size: 100%;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: pink;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include marginCenter;
    margin-top: 16em;

}

h3 {
    text-align: center;
}

.whole-polaroid {
    background: white;
    height: fit-content;
    box-shadow: 5px 5px 5px #aaaaaa;
    text-transform: capitalize;

    &:hover {
        transition: 4s;
        transform: rotate3d(0, 4, 0, -1turn);
        background-image: linear-gradient(to right, red, orange, yellow, green, blue, violet, indigo);
    }

}

.polaroid-top {
    width: 164px;
    height: 160px;
    @include borders;
    @include bordersSides;
    margin-top: 14px;
}

.polaroid-bottom {
    background-color: white;
    width: 10rem;
    @include borders;
}

.red {
    background-image: url('../assets/puerto\ vallarta.jpg');
    @include centerImg;
}

.orange {
    background-image: url('../assets/20200322_213304.jpg');
    @include centerImg;
}

.yellow {
    background-image: url('../assets/20200809_204009.jpg');
    @include centerImg;
}

.green {
    background-image: url('../assets/20200821_093310.jpg');
    @include centerImg;
}

.blue {
    background-image: url('../assets/B7DEA8A3-71CC-4722-8A43-F9458D21BB6B.JPG');
    @include centerImg;
}

.indigo {
    background-image: url('../assets/Screen\ Shot\ 2016-06-24\ at\ 1.41.20\ PM.png');
    @include centerImg;
}

.violet {
    background-image: url('../assets/20200821_093310.jpg');
    @include centerImg;
}