$mainBackground: 'pink';

@mixin centerImg {
    background-size: cover;
    background-position: center;
}

@mixin bordersSides {
    border-right: 12px solid white;
    border-left: 12px solid white;
}

@mixin borders {
    border: 5px solid white;
}

@mixin marginCenter {
    margin-left: auto;
    margin-right: auto;
}
